.displayNone {
	display: none;
}

.leaflet-control-geosearch {
	position: relative;
}

.leaflet-control-geosearch a {
	-webkit-border-radius: 4px;
			border-radius: 4px;
	border-bottom: none;
}

.leaflet-control-geosearch a.glass:before {
	/*background-image: url(../img/geosearch.png);*/
	content: "\f002";
	font-family: 'FontAwesome';
	/*background-size: 100% 100%;*/
}

.leaflet-control-geosearch a.spinner:before {
	content: "\f110";
	font-family: 'FontAwesome';
	/*background-image: url(../img/spinner.gif);*/
	/*background-position: 50% 50%;*/
}

.leaflet-control-geosearch a.alert:before {
	content: "\f12a";
	font-family: 'FontAwesome';
	/*background-image: url(../img/alert.png);*/
	/*background-size: 64% 64%;*/
}

.leaflet-control-geosearch a:hover {
	border-bottom: none;
}

.leaflet-control-geosearch form {
	position: absolute;
	top: 0;
	left: 35px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	z-index: -1;
	background: #FFF;
	height: 30px;
	padding: 0 6px 0 6px;
}

.leaflet-control-geosearch form input {
	width: 200px;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	margin-top: 5px;
}

.leaflet-control-geosearch .message {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 226px;
	color: #FFF;
	background: rgb(40, 40, 40);
	padding: 4px 0 4px 8px;
}
