.leaflet-point-marker a.leaflet-point-marker:before {
    content: "\f041";
    font-size: 23px;
    font-family: 'FontAwesome';
}

.leaflet-point-marker-active:before{
    content: "\f041";
    font-size: 23px;
    font-family: 'FontAwesome';
    color: #e80d0d;
}